# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
     Python
     R
     SQL

### Some of the commonly used libraries used by Data Scientists include:
    Pandas
    Numpy
    Tensor Flow

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Spark               |

### Below are a few examples of evaluating arithmetic expressions in Python

1. **Addition**: `5 + 3 = 8`  
2. **Subtraction**: `10 - 4 = 6`  
3. **Multiplication**: `7 * 6 = 42`  
4. **Division**: `20 / 5 = 4`  
5. **Exponentiation**: `2 ** 3 = 8`

In [4]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [6]:
#Below operation will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Your Name